---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout
  title="About"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2024-10-31")}
  heroImage="/blog-placeholder-about.jpg"
>
  <h2>🔗参考链接</h2>
  <ul>
    <li>
      <span>虚环官网</span>
      <a href="https://vo.qq.com/" target="_blank" rel="noopener noreferrer noindex"
        >《虚环》主题站- 谁是最强的虚拟偶像？</a
      >
    </li>
    <li>
      <span>虚环PV</span>
      <a
        href="https://www.bilibili.com/video/BV1WcvdeVEvo/"
        target="_blank"
        rel="noopener noreferrer noindex"
        >《虚环》首曝PV|V圈的历史由你来重写！
      </a>
    </li>
    <li>
      <span>永雏塔菲</span>
      <a
        href="https://space.bilibili.com/1265680561"
        target="_blank"
        rel="noopener noreferrer noindex"
        >永雏塔菲 BILIBILI 个人主页
      </a>
    </li>
    <li>
      <span>東雪蓮Official</span>
      <a
        href="https://space.bilibili.com/1437582453"
        target="_blank"
        rel="noopener noreferrer noindex"
        >東雪蓮Official BILIBILI 个人主页
      </a>
    </li>
    <li>
      <span>嘉然今天吃什么</span>
      <a
        href="https://space.bilibili.com/672328094"
        target="_blank"
        rel="noopener noreferrer noindex"
        >嘉然今天吃什么 BILIBILI 个人主页
      </a>
    </li>
    <li>
      <span>库莉姆Cream</span>
      <a
        href="https://space.bilibili.com/1555453291"
        target="_blank"
        rel="noopener noreferrer noindex"
        >库莉姆Cream BILIBILI 个人主页
      </a>
    </li>
    <li>
      <span>鲸鱼娘西丝特official</span>
      <a
        href="https://space.bilibili.com/1398337493"
        target="_blank"
        rel="noopener noreferrer noindex"
        >鲸鱼娘西丝特official BILIBILI 个人主页
      </a>
    </li>
    <li>
      <span>Virtual YouTuber Wiki</span>
      <a
        href="https://virtualyoutuber.fandom.com/wiki/Virtual_YouTuber_Wiki"
        target="_blank"
        rel="noopener noreferrer noindex"
        >Virtual YouTuber Wiki
      </a>
    </li>
  </ul>
</Layout>
