---
interface Props {
  item: string;
}
const { item } = Astro.props;
---

{
  Astro.slots.has("default") !== undefined && (
    <li>
      <span>{item}</span> <slot />
    </li>
  )
}

<style>
  li {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    word-break: break-all;
    width: 100%;
  }
  span {
    font-weight: bold;
    min-width: 5em;
  }
</style>
