---
import { type CollectionEntry, getCollection } from "astro:content";
import VTuberLayout from "../../layouts/VTuberLayout.astro";
import TableOfContents from "../../components/TableOfContents.astro";

export async function getStaticPaths() {
  const posts = await getCollection("v");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"v">;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<VTuberLayout {...post.data}>
  {
    headings.length > 0 && (
        <div class="toc-container">
          <TableOfContents headings={headings}  />
        </div>
    )
  }
  <Content />
</VTuberLayout>

<style>
  .toc-container {
    position: fixed;
    right: 1rem;
    top: 5rem;
  }

  @media (max-width: 1024px) {
    .toc-container {
      display: none;
    }
  }
</style>
